
#mainWrapper{
    width: 80%;
    margin: 0 auto; /*가운데 정렬*/
}

.post__header{
    padding:15px;
}
.post__body-header{
    display: flex;
    align-items: center;
    padding:10px;
    border : 1px solid #e3e3e3;
    margin: 3px 0;
}

.post__body-header-info{
    margin-right: 20px;
}

.writer-image{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.post__body-content{
    padding: 10px;
    height:350px;
    border : 1px solid #e3e3e3;
}

.post__status {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.post__status > div{
    display: flex;
    margin-right: 10px;
}

.post__status > div > div{
    display: flex;
    margin-right: 10px;
}

.post__status-right > div{
    border : 1px solid #e3e3e3;
}

.status__image{
    width: 20px;
    height: 20px;
}

