body{
    line-height:2em;
    font-family:"맑은 고딕";
}


#mainWrapper{
    width: 80%;
    margin: 0 auto; /*가운데 정렬*/
}

#mainWrapper > ul > li:first-child {
    text-align: center;
    font-size:14pt;
    height:40px;
    vertical-align:middle;
    line-height:30px;
}

#ulTable {margin-top:10px;}


#ulTable > li:first-child > ul > li {
    background-color:#c9c9c9;
    font-weight:bold;
    text-align:center;
}

#ulTable > li > ul {
    clear:both;
    padding:0px auto;
    position:relative;
    min-width:40px;
}
#ulTable > li > ul > li {
    float:left;
    font-size:10pt;
    border-bottom:1px solid silver;
    vertical-align:baseline;
}

.post-title{
    float:left;
    font-size:10pt;
    border-bottom:1px solid silver;
    vertical-align:baseline;
}

.table-header > ul > li:first-child  {width:5%;} /*No 열 크기*/
.table-header > ul > li:first-child + li  {width:45%;} /*제목 열 크기*/
.table-header > ul > li:first-child + li + li {width:15%;} /*작성일 열 크기*/
.table-header > ul > li:first-child + li + li + li  {width:20%;} /*작성자 열 크기*/
.table-header > ul > li:first-child + li + li + li + li {width:5%;} /*조회수 열 크기*/
.table-header > ul > li:first-child + li + li + li + li + li {width:5%;} /*조회수 열 크기*/
.table-header > ul > li:first-child + li + li + li + li + li + li{width:5%;} /*조회수 열 크기*/

#ulTable > li > ul > li:first-child               {width:5%;} /*No 열 크기*/
#ulTable > li > ul > li:first-child +a           {width:45%;} /*제목 열 크기*/
#ulTable > li > ul > li:first-child +a+li        {width:15%;} /*작성일 열 크기*/
#ulTable > li > ul > li:first-child +a+li+li     {width:20%;} /*작성자 열 크기*/
#ulTable > li > ul > li:first-child +a+li+li+li{width:5%;} /*조회수 열 크기*/
#ulTable > li > ul > li:first-child +a+li+li+li + li{width:5%;} /*조회수 열 크기*/
#ulTable > li > ul > li:first-child +a+li+li+li + li + li{width:5%;} /*조회수 열 크기*/

#divPaging {
    clear:both;
    margin:0 auto;
    width:220px;
    height:50px;
}

#divPaging > div {
    float:left;
    width: 30px;
    margin:0 auto;
    text-align:center;
}

.left {
    text-align : left;
}

#searchArticleForm{
    float: left; margin-top: 5px; margin-left: 5px; padding: 8px 25px 8px 5px; border: 1px solid #a6a6a6; border-radius: 3px;
    background: transparent url('https://everytime.kr/images/new/container.articles.pagination.search.png') no-repeat right 10px center; background-size: 16px 16px;
}
#searchArticleForm > *:focus {
    outline: none;
}
#searchArticleForm > select {
    margin-right: 5px; height: 19px; line-height: 19px; border: 0;
    color: #737373; font-size: 12px; background-color: transparent;
}
#searchArticleForm > input.text {
    height: 19px; line-height: 19px; border: 0; width: 130px;
    color: #292929; font-size: 14px; background-color: transparent;
}