<!doctype HTML>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script src="https://kit.fontawesome.com/bdfd7f14f2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/posts.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post-detail.css}">
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
<!--    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>-->
</head>
<body>
<div class="main-container">
<!--    <form class="login-form" action="/doLogin" method="POST">-->
<!--        <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--        <div class="row">-->
<!--            <div class="input-field col s12">-->
<!--                <input id="loginId" type="loginId" name="loginId" class="validate"/>-->
<!--                <label for="loginId">Email</label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="input-field col s12">-->
<!--                <input id="password" type="password" name="password" class="validate"/>-->
<!--                <label for="password">Password</label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <input class="login-btn waves-effect waves-light btn" type="submit" value="로그인" />-->
<!--    </form>-->
    <div class="main-wrap">
        <header>
            <div class="logo-wrap">
                <h2>개발자 모여라</h2>
            </div>
        </header>

        <section class="login-input-section-wrap">
            <div class="login-input-wrap">
                <input id = "loginForm-id" placeholder="아이디 입력" type="text"></input>
            </div>
            <div class="login-input-wrap password-wrap">
                <input id = "loginForm-password" placeholder="비밀번호" type="password"></input>
            </div>
            <div class="login-button-wrap">
                <button th:onclick="|javascript:loginFormCheck()|">Sign in</button>
            </div>
            <div class="login-stay-sign-in">
                <div class = "main-sign-in">
                    <div id = "stayBtn" th:onclick="|javascript:loginStayHandler()|"><i class="far fa-check-circle"></i></div>
                    <span>로그인 유지</span>
                </div>
                <ul class = "login-options">
                    <li class="" ><a th:href="@{/signup.html}">비밀번호 찾기</a></li>
                    <li class="" ><a th:href="@{/signup.html}">회원 가입</a></li>
                </ul>
            </div>
        </section>
        <section class="Easy-sgin-in-wrap">
            <h3>간편 로그인</h3>
            <ul class="sign-button-list">
                <li><a href ="/oauth2/authorization/google"><img src = "/images/btn-google2.png"></a></li>
                <li><a href ="/oauth2/authorization/naver"><img src="/images/btn-naver.png"></a></li>
            </ul>
        </section>
        <footer>
            <div class="copyright-wrap">
                <span>Copyright © CommunityBoard by Josunghyeon. All Rights Reserved.</span>
            </div>
        </footer>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const stayBtnImg = document.getElementById('stayBtn').firstChild;

    function loginStayHandler(){
        if(stayBtnImg.classList.contains("selected")) stayBtnImg.classList.remove("selected")
        else stayBtnImg.classList.add("selected")
    }


    const idInput = document.getElementById('loginForm-id');
    const passwdInput = document.getElementById('loginForm-password');
    function loginFormCheck(){
        if(idInput.value == ""){
            alert("아이디를 입력하세요.");
        }else if(passwdInput.value == ""){
            alert("비밀번호를 입력하세요.");
        }else{
            login();
        }
    }

    function login(){
        let data = {
            loginId : idInput.value,
            password : passwdInput.value
        };
        fetch("/login", {
            method: "POST",
            headers:{
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data)
        })
            .then((response) =>
                response.json())
            .then((data) => {
                if(data.status === 'BAD_REQUEST'){
                    passwdInput.value = null;
                    alert(data.message);
                }else{
                    window.location.href = '/';
                }
            })
            .catch((e=>{
                alert(e);
            }))
    }


    /*]]>*/
</script>
</body>