<!doctype HTML>
<head>
    <meta charset="UTF-8">
    <title>Community Board</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="main-container">
    <div class="main-wrap">
        <header>
            <div class="logo-wrap">
                <h2>Community Board</h2>
            </div>
        </header>
        <section class="login-input-section-wrap">
            <div class="login-input-wrap">
                <input id = "loginForm-id" placeholder="아이디 입력" type="text"></input>
            </div>
            <div class="login-input-wrap password-wrap">
                <input id = "loginForm-password" placeholder="비밀번호" type="password"></input>
            </div>
            <div class="login-button-wrap">
                <button th:onclick="|javascript:loginFormCheck()|">Sign in</button>
            </div>
            <div class="login-stay-sign-in">
                <div class = "main-sign-in">
                    <div id = "stayBtn" th:onclick="|javascript:loginStayHandler()|"><i class="far fa-check-circle"></i></div>
                    <span>로그인 유지</span>
                </div>
                <p class="forget-msg">비밀번호 찾기 | 회원가입</p>
            </div>
        </section>
        <section class="Easy-sgin-in-wrap">
            <h3>간편 로그인</h3>
            <ul class="sign-button-list">
                <li><a href ="/oauth2/authorization/google"><img src = "/images/btn-google2.png"></a></li>
                <li><a href ="/oauth2/authorization/naver"><img src="/images/btn-naver.png"></a></li>
            </ul>
        </section>
        <footer>
            <div class="copyright-wrap">
                <span>Copyright © CommunityBoard by Josunghyeon. All Rights Reserved.</span>
            </div>
        </footer>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const stayBtnImg = document.getElementById('stayBtn').firstChild;

    function loginStayHandler(){
        if(stayBtnImg.classList.contains("selected")) stayBtnImg.classList.remove("selected")
        else stayBtnImg.classList.add("selected")
    }


    const idInput = document.getElementById('loginForm-id');
    const passwdInput = document.getElementById('loginForm-password');
    function loginFormCheck(){
        if(idInput.value == ""){
            alert("아이디를 입력하세요.");
        }else if(passwdInput.value == ""){
            alert("비밀번호를 입력하세요.");
        }else{
            login();
        }
    }

    function login(){
        let data = {
            loginId : idInput.value,
            password : passwdInput.value
        };
        fetch("/login", {
            method: "POST",
            headers:{
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data)
        })
            .then((response) =>
                response.json())
            .then((data) => {
                if(data.status === 'BAD_REQUEST'){
                    passwdInput.value = null;
                    alert(data.message);
                }else{
                    window.location.href = '/';
                }
            })
            .catch((e=>{
                alert(e);
            }))
    }


    /*]]>*/
</script>



</body>