<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommunityBoard</title>
    <script src="https://kit.fontawesome.com/bdfd7f14f2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/posts.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post-detail.css}">
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/postDetail.js}" defer></script>
</head>
<body>
<!-- NavBar -->
<nav >
    <div class="navbar-container">
        <div>
            <h2 class="navbar__title"><a th:href="@{/}" >Community Board Project </a></h2>
        </div>
        <div>
            <ul class="navbar__menu">
                <li class="navbar__menu__item"><a th:href="@{/}" >Home</a></li>
                <li class="navbar__menu__item" th:unless="${userName}"><a th:href="@{/login}">로그인</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/posts/save}">글쓰기</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/logout}">로그아웃</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/mypage}">마이 페이지</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <!-- sidebar-menu  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>게시판 분류</span>
                    </li>
                    <li th:each="category : ${categoryList}" class = "sidebar-dropdown">
                        <a th:href = "@{|/api/v1/posts/category/${category.id}|}">
                            <i class="fa fa-globe"></i>
                            <span th:text="${category.name}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 게시물 본문 -->

    <div id="mainWrapper">
        <div class = "post__header" style="background-color: #04c75a" th:text="${categoryName}"></div>
        <div class = "post__body">
            <div class = "post__body-header">
                <div class = "post__body-header-picture">
                    <img src="https://cf-fpi.everytime.kr/0.png" class = "writer-image">
                </div>
                <div class = "post__body-header-info">
                    <div th:text="${post.user.name}" >익명</div>
                    <div>3분 전</div>
                </div>
                <div class = "post__body-header-title"><h2 th:text="${post.title}"></h2></div>
            </div>
            <div class = "post__body-content">
                <p th:text="${post.content}">
                </p>
            </div>
            <div class = "post__status">
                <div class = "post__status-left">
                    <div>
                        <div><img class = "status__image" src="https://everytime.kr/images/new/container.articles.vote.png" ></div>
                        <div> 3 </div>
                    </div>
                    <div>
                        <div><img class = "status__image" src="https://everytime.kr/images/new/container.articles.comment.png" ></div>
                        <div> 4 </div>
                    </div>
                    <div>
                        <div><img class = "status__image" src="https://everytime.kr/images/new/container.articles.scrap.png" ></div>
                        <div> 5 </div>
                    </div>
                </div>
                <div class = "post__status-right">
                    <div id = "like-box">좋아요💚</div>
                    <div id = "scrap-box">스크랩⭐️</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const likeBtn = document.getElementById('like-box')
    likeBtn.addEventListener("click", handlingLikeBtn());

    function handlingLikeBtn(){
        console.log(${post.title})
    }
    /*]]>*/
</script>
</body>
</html>