<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommunityBoard</title>

    <script src="https://kit.fontawesome.com/bdfd7f14f2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/posts.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post-detail.css}">
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>


</head>
<body>
<!-- NavBar -->
<nav >
    <div class="navbar-container">
        <div>
            <h2 class="navbar__title"><a th:href="@{/}" >Community Board Project </a></h2>
        </div>
        <div>
            <ul class="navbar__menu">
                <li class="navbar__menu__item"><a th:href="@{/}" >Home</a></li>
                <li class="navbar__menu__item" th:unless="${userName}"><a th:href="@{/login}">로그인</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/posts/save}">글쓰기</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/logout}">로그아웃</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/mypage}">마이 페이지</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <!-- sidebar-menu  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>게시판 분류</span>
                    </li>
                    <li th:each="category : ${categoryList}" class = "sidebar-dropdown">
                        <a th:href = "@{|/api/v1/posts/category/${category.id}|}">
                            <i class="fa fa-globe"></i>
                            <span th:text="${category.name}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- 수정 폼 -->
    <div id="container">
        <div class = "wrap title" id = "categoryName" th:text="${categoryName}"></div>
        <div class = "wrap articles">
            <form class="write">
                <p ><input autocomplete="off" id = "title" placeholder="글 제목" class="title" th:value="${post.title}"></p>
                <p>
                    <textarea name="text" id = "content"placeholder="수정할 내용을 작성하세요." class="smallplaceholder"
                    th:text="${post.content}">
                    </textarea>
                </p>
                <ul class="option">
                    <li class = "attach"></li>
                    <li class = "submit" th:onclick="|javascript:update()|"></li>
                </ul>
            </form>
            <div class = "pagination">
                <a class = "cancel" th:href="@{|/api/v1/posts/${post.id}|}">취소하기</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const postId = [[${post.id}]];
    function update(){
        let data = {
            title : document.getElementById('title').value,
            content : document.getElementById('content').value
        };
        console.log(data);
        fetch("/api/posts/update/" + postId, {
            method: "PUT",
            headers:{
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data)
        })
            .then((response) => {
                alert('글이 수정되었습니다.');
                window.location.href = '/';
            })
            .catch((e=>{
                alert(e);
            }))
    }

    /*]]>*/
</script>
</body>
</html>