<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommunityBoard</title>
    <script src="https://kit.fontawesome.com/bdfd7f14f2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/main.js}" defer></script>
</head>
<body>
<!-- NavBar -->
<nav >
    <div class="navbar-container">
        <div>
            <h2 class="navbar__title"><a th:href="@{/}" >Community Board Project </a></h2>
        </div>
        <div>
            <ul class="navbar__menu">
                <li class="navbar__menu__item"><a th:href="@{/}" >Home</a></li>
                <li class="navbar__menu__item" th:unless="${userName}"><a th:href="@{/login}">로그인</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/posts/save}">글쓰기</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/logout}">로그아웃</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/mypage}">마이 페이지</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>게시판 분류</span>
                    </li>
                    <li th:each="category : ${categoryList}" class = "sidebar-dropdown">
                        <a href = "/api/v1/posts/category/${category.id}">
                            <i class="fa fa-globe"></i>
                            <span th:text="${category.name}"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
    <!-- page-content" -->

    <div class="container">
        <form class = "save-form">
            <!--
            돔 선택해서 자바스크립트로 넣어주고...
            카테고리 선택하는 콤보박스
            카테고리명을 선택하면 카테고리 아이디로 매핑이 되어야 함
            -->
            <select class="select__box" th:name="category" id = "category-box">
                <option value = "카테고리"> 선택</option>
                <option th:each="val : ${categoryList}" th:value="${val?.id}" th:utext="${val?.name}"></option>
            </select>

            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title"
                       placeholder="제목 입력(4-100)" name="title"
                       maxlength="100" required="required"
                       pattern=".{4,100}">
            </div>

            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" id="author"
                       placeholder="작성자(2자-10자)" name="writer">
            </div>

            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" rows="5" id="content"
                          name="content" placeholder="내용을 입력하세요"></textarea>
            </div>
        </form>
        <button type="submit" class="btn btn-default" id = "btn-save">글 작성</button>
        <a href = "/"><button class="btn btn-default" id = "btn-cancel">취소하기</button></a>
    </div>

</div>
<script type="text/javascript" th:src="@{/main.js}" defer></script>
<script type="text/javascript" src="../static/js/main.js" defer></script>
</body>
</html>