<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발자 모여라</title>
    <script src="https://kit.fontawesome.com/bdfd7f14f2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/posts.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post-detail.css}">
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
</head>
<body>
<!-- NavBar -->
<nav >
    <div class="navbar-container">
        <div>
            <h2 class="navbar__title"><a th:href="@{/}" >Community Board Project </a></h2>
        </div>
        <div>
            <ul class="navbar__menu">
                <li class="navbar__menu__item"><a th:href="@{/}" >Home</a></li>
                <li class="navbar__menu__item" th:unless="${userName}"><a th:href="@{/login}">로그인</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/posts/save}">글쓰기</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/logout}">로그아웃</a></li>
                <li class="navbar__menu__item" th:if="${userName}"><a th:href="@{/mypage}">마이 페이지</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <!-- sidebar-menu  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>게시판 분류</span>
                    </li>
                    <li th:each="category : ${categoryList}" class = "sidebar-dropdown">
                        <a th:href = "@{|/api/v1/posts/category/${category.id}|}">
                            <span th:text="${category.name}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 게시물 본문 -->

    <div id="container">
        <div class = "wrap title" th:text="${categoryName}"></div>
        <div class = "wrap articles">
            <article>
                <a class ="article">
                    <img src="https://cf-fpi.everytime.kr/0.png" class="picture large">
                    <div class="profile">
                        <h3 class = "large" th:text="${post.user.name}"></h3>
                        <time class= "large">방금</time>
                    </div>

                    <ul class = "status" th:if="${userName == post.user.name}">
                        <li class="update" th:onclick="|location.href='@{/posts/update/{id}(id=${post.id})}'|">수정</li>
                        <li class="del" th:onclick="|javascript:checkDeletePost()|">삭제</li>
                    </ul>

                    <h2 class="large post-title" th:text="${post.title}"></h2>
                    <hr>
                    <p class="large" th:text="${post.content}"></p>
                    <ul class="status left">
                        <li class="vote" id = "likeCount" th:text="${post.postLikesCount}"></li>
                        <li class="comment" th:text="${commentsCount}"></li>
                        <li class="scrap">0</li>
                    </ul>
                    <hr>
                    <div class="buttons">
                        <span class="posvote" th:onclick="|javascript:handleLikeBtn()|">좋아요💚</span>
                        <span class="scrap">스크랩</span>
                    </div>
                </a>

                <div class = "comments" >
                    <article th:each="comment: ${comments}" th:id = "'articleBox' + '-' + ${comment.commentOrder}" th:class="${comment.commentOrder == comment.parentCommentNum ? 'parent' : 'child'}">
                        <img src="https://cf-fpi.everytime.kr/0.png" class="picture medium">
                        <div class = "profile">
                            <h3 class="medium" th:text="${comment.writer}"></h3>
                            <time class= "medium">방금</time>
                        </div>
                        <ul class = "status" th:unless="${comment.isDeleted}">
                            <li th:if="${comment.commentOrder == comment.parentCommentNum}" class = "childcomment" th:onclick="|javascript:commentReply(${comment.commentOrder})|">대댓글</li>
                            <li class = "commentvote">공감</li>
                            <li th:if="${comment.writer == userName}" class = "delete" th:onclick="|javascript:checkDeleteComment(${comment.commentOrder},${comment.parentCommentNum}, ${comment.childCommentCount}, ${comment.id})|">삭제</li>
                        </ul>
                        <hr>
                        <p class = "large" th:if="${comment.isDeleted}">삭제된 메시지입니다.</p>
                        <p class = "large" th:unless="${comment.isDeleted}" th:text="${comment.content}"></p>
                    </article>

                    <form class ="writecomment">
                        <input type="text" maxlength="300" autocomplete="off" placeholder="댓글을 입력하세요." class="text" id = "commentInput">
                        <ul id = "commentInputOption" class = "option">
                            <li title="취소" id = "commentAddCancelBtn" class="cancel" th:onclick="|javascript:resetByCancel(this)|">취소</li>
                            <li title="완료" id = "commentAddBtn" class="submit" th:onclick="|javascript:addComment()|"></li>
                        </ul>
                    </form>

                </div>
            </article>


            <div class="clearBothOnly"></div>
            <div class="pagination">
                <a id = "goBackListButton" class = "list">글 목록</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    const postId = [[${post.id}]];
    const liked = [[${liked}]];
    const currLikes = [[${post.postLikesCount}]];
    let selectedCommentOrder = -1;

    function handleLikeBtn(e){
        fetch("/like/" + postId,{
            method: "POST",
            headers:{
                "Content-Type": "application/json",
            }
        })
            .then((response) =>
                response.json())
            .then((data) => {
                alert(data.message);
                if(!liked){
                    let likeCount = document.getElementById('likeCount');
                    likeCount.innerHTML = currLikes + 1;
                }
            })
            .catch((e=>{
                alert(e);
            }))
        e.preventDefault();
    }

    function checkDeletePost(){
        if(confirm("글을 삭제하시겠습니까?")){
            confirmDeletePost();
        }else{
            return;
        }
    }

    function checkDeleteComment(order, parentNum, childCommentCount, id){
        if(confirm("댓글을 삭제하시겠습니까?")){
            confirmDeleteComment(order, parentNum, childCommentCount, id);
        }else{
            return;
        }
    }

    function confirmDeletePost(){
        fetch("/api/posts/delete/" + postId,{
            method: "DELETE",
            headers:{
                "Content-Type": "application/json",
            }
        })
            .then((response) =>{
                history.go(-1);
                response.json()})
            .catch((e=>{
                alert(e);
            }))
    }

    function confirmDeleteComment(order, parentNum, childCommentCount, id){
        // 부모 댓글인 경우
        if(order === parentNum){
            if(childCommentCount == 0){ // 자식 댓글이 없으면 그냥 삭제
                console.log("1234");
                fetch("/api/comments/" + id,{
                    method: "DELETE",
                    headers:{
                        "Content-Type": "application/json",
                    }
                })
                    .then((response) => {
                        window.location.href = '/api/v1/posts/'+postId;
                        // response.json()})
                    })
                    .catch((e=>{
                        alert(e);
                    }))
            }else{ // 자식 댓글이 있으면 (삭제된 메시지입니다.)로 표시해야 함
                console.log("자식이 있는 댓글을 삭제합니다.");
                fetch("/api/comments/" + id,{
                    method: "PUT",
                    headers:{
                        "Content-Type": "application/json",
                    }
                })
                    .then((response) => {
                        window.location.href = '/api/v1/posts/'+postId;

                        // window.location.href = '/api/v1/posts/'+postId;
                        // response.json()})
                    })
                    .catch((e=>{
                        alert(e);
                    }))
            }
        }else{
            fetch("/api/comments/" + id,{
                method: "DELETE",
                headers:{
                    "Content-Type": "application/json",
                }
            })
                .then((response) => {
                    window.location.href = '/api/v1/posts/'+postId;
                    // response.json()})
                })
                .catch((e=>{
                    alert(e);
                }))
        }
    }

    function addComment(){
        let commentInput = document.getElementById('commentInput').value;
        let data = {
            post_id : postId,
            content : commentInput,
            parentCommentNum : selectedCommentOrder,
        };
        fetch("/api/comments",{
            method: "POST",
            headers:{
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data)
        })
            .then((response) => {
                alert('댓글이 등록되었습니다.');
                window.location.href = '/api/v1/posts/'+postId;
            })
            .catch((e=>{
                alert(e);
            }))
    }


    const replyInputBox= document.getElementById('commentInput');
    function commentReply(commentOrder){
        resetByOtherComment();
        replyInputBox.placeholder = "대댓글을 입력하세요.";
        replyInputBox.focus();

        const commentAddCancelBtn = document.getElementById('commentAddCancelBtn')
        commentAddCancelBtn.classList.add('visible')

        commentAddBtn = document.getElementById('commentAddBtn');
        selectedCommentOrder = commentOrder;
        const boxId = "articleBox" + '-' + commentOrder
        const articleBox = document.getElementById(boxId)
        articleBox.classList.add('active');
    }

    function resetByCancel(btn){
        selectedCommentOrder = -1;
        const activeComment = document.getElementsByClassName('active');
        for(let i = 0; i < activeComment.length; i++){
            activeComment[i].classList.remove('active');
        }
        replyInputBox.value = null;
        replyInputBox.placeholder = "댓글을 입력하세요.";
        btn.classList.remove('visible');
    }

    function resetByOtherComment(){
        selectedCommentOrder = -1;
        const activeComment = document.getElementsByClassName('active');
        for(let i = 0; i < activeComment.length; i++){
            activeComment[i].classList.remove('active');
        }
        replyInputBox.value = null;
        replyInputBox.placeholder = "댓글을 입력하세요.";
    }
    /*]]>*/
</script>


</body>
</html>